/* ----------------------------------------------------------- */
/* Colors */
/* ----------------------------------------------------------- */

:root {
  --main-theme: /*#E67E22; */#0d2c5a;
  --light-theme: #5b9bbc;
  --background: #eee;
  --theme-2: #f08b65;
  --theme-3: #e76270;
  --theme-4: #ccc;

  --blue: #228ae6;
  --font-color: #555;
  --footer-color: #878481;
  --footer-text: #e0e0e0;
  --description-grey: #b2b2b2;
  --border-grey: #efefef;
}

/* ----------------------------------------------------------- */
/* Basic Setup */
/* ----------------------------------------------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
}

html,
body {
  background-color: #fff;
  color: var(--font-color);
  font-family: 'Lato', 'Arial', sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

.container {
  margin: 0;
  padding: 0;
  width: 100vw;
}

.content {
  /*margin-top: 77px;*/
}

.clearfix {zoom: 1;}
.clearfix:after {
  content: '.';
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

div.react-d3-core__legend.legend {
  display: none;
}

/* ----------------------------------------------------------- */
/* Reusable Components */
/* ----------------------------------------------------------- */

.row {
  max-width: 1140px;
  margin: 0 auto; /*margin: top right bottom left*/
}

section {
  padding: 120px 0;
}

.box {
  padding: 1%;
  overflow: hidden;
}

ul {
  list-style-type: none;
}

/* ----- Headings ----- */

h1,
h2,
h3 {
  font-weight: 300; /*decrease font weight, h1 is usually bold*/
  letter-spacing: 1px;
}

h1 {
  font-weight: 800;
  margin-top: 0;
  margin-bottom: 20px;
  color: #fff;
  font-size: 300%; /*use percentage here relative to html tag values*/
  word-spacing: 3px;
}

h2 {
  text-transform: uppercase; /*make all letters upper case*/
  font-size: 180%;
  word-spacing: 3px;
  text-align: center;
  margin-bottom: 30px;
  width: 100%;
}

h3 {
  text-transform: uppercase;
  font-size: 110%;
  margin-top: 15px;
  margin-bottom: 15px;
  /*text-align: center;*/
}

h6 {
  font-weight: 300;
  letter-spacing: 1px;
  padding: 5px auto;
  text-align: center;
}

h6:after {
  display: block;
  height: 1px;
  background-color: var(--main-theme);
  content: " ";
  width: 80px;
  margin: 5px auto;
}

h2:after {
  display: block;
  height: 2px;
  /*background-color: var(--theme-2);*/
  content: " ";
  width: 250px;
  margin: 0 auto;
  margin-top: 30px;
}

/* ----- Paragraphs ----- */

.long-copy,
.brief-description {
  line-height: 145%;
  width: 70%;
  margin-left: 15%;
  text-align: center;
}

.box p {
  font-size: 90%;
  line-height: 145%;
}

/* ----- Icon ----- */

.icon-big {
  font-size: 300%;
  display: block;
  /*color: var(--main-theme);*/
  margin-bottom: 10px;
}

.icon-small {
  display: inline-block;
  width: 30px;
  text-align: center;
  color: var(--main-theme);
  font-size: 120%;
  margin-right: 10px;

  /* secret to align text and icons*/
  margin-top: -5px;
  line-height: 120%;
  vertical-align: middle;
}


/* ----------------------------------------------------------- */
/* Nav */
/* ----------------------------------------------------------- */

.logo {
  height: 66px;
  width: 66px;
  border-radius: 33px;
  float: left;
  margin: 5px 10px;
}

/* Main Nav */

nav {
  margin-bottom: -76px;
}

.main-nav {
  list-style: none;
  margin: 0 auto;
  background-color: transparent;
  z-index: 10;

}

.main-nav li {
  display: inline-block;
  margin-left: 25px;

  position: relative;
  top: 50%;
  transform: translateY(-50%);
  color: var(--light-theme);

  text-transform: uppercase;
  font-size: 90%;
  font-weight: 400;
  transition: color 0.2s;
  padding: 8px 0;
}

.main-nav li:first-child {
  margin-left: 0;
}

.main-nav li:hover {
  cursor: pointer;
  color: #fff;
}

/* Mobile Nav */

.mobile-nav-icon {
  float: right;
  margin-top: 30px;
  cursor: pointer;
  display: none;
}

.mobile-nav-icon i {
  font-size: 200%;
  color: #fff;
}

/* Sticky Nav */

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--main-theme);
  z-index: 10;
}

#contact,
#contact-2 {
  border-radius: 3px;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
  color: #fff;
  background-color: var(--main-theme);
  padding-left: 8px;
  padding-right: 8px;

}

#contact-2 {
  max-width: 340px;
  width: 70%;
  margin: 0 auto;
  padding: 8px 0;
  color: #fff;
}

#contact:hover,
#contact-2:hover {
  cursor: pointer;
  background-color: var(--dark-orange);
  border-color: var(--dark-orange);
}

nav.social-links {
  margin-right: 10px;
  margin-left: 10px;
}

.social-links li a:link,
.social-links li a:visited {
  font-size: 140%;
}

.ion-social-linkedin,
.ion-social-github,
.ion-social-googleplus,
.ion-social-instagram {
  transition: color 0.2s;
}

.ion-social-linkedin:hover {
  color: #0077B5;
}

.ion-social-github:hover {
  color: #24292e;
}

.ion-social-facebook:hover {
  color: #3a589e;
}

.ion-social-instagram:hover {
  color: #fb3958;
}

.ion-email:hover {
  color: #fff;
}

/* -----------------------------------------------------------* /
/* Header */
/* ----------------------------------------------------------- */

header {
  background-image: linear-gradient(rgba(13, 44, 90, 0.7), rgba(13, 44, 90, 0.7)), url('../Assets/img/header-background-2.jpg');
  background-size: cover;
  min-height: 350px;
  height: 100vh;
  background-attachment: fixed;
  position: relative;
}

.hero-text-box {
  width: 100%;
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.hero-text-box h1:after {
  display: block;
  height: 1px;
  background-color: var(--light-theme);
  content: " ";
  width: 180px;
  margin: 20px auto;
}

.hero-text-box h4 {
  color: #fff;
}

/* -----------------------------------------------------------* /
/* About */
/* ----------------------------------------------------------- */

.section-about {
  background-color: var(--background);
}

.section-about .icon-big {
  color: var(--theme-2);
}

.section-about h2:after {
  background-color: var(--theme-2);
}

/*.skill-card {
  width: 100%;
  background-color: #fff;
  padding: 1%;
  margin: 20px 0;
  font-size: 120%;

   -webkit-box-shadow: 0 10px 6px -6px #777;
      -moz-box-shadow: 0 10px 6px -6px #777;
           box-shadow: 0 10px 6px -6px #777;
}

.skill-card img {
  width: 5%;
  height: auto;
  display: block;
  margin: 25px auto;
}

 .skill-list {
  width: 50%;
  vertical-align: top;
  padding-left: 18%;
 }*/


/*.link-icon {
  font-size: 120%;
}

.brief-description {
  color: var(--description-grey);
  font-style: italic;
  margin-bottom: 0;
}

.bullet {
  display: inline-block;
}

.bullet li {
  line-height: 200%;
}

.bullet li::before {
  content: "• ";
  color: var(--main-theme);
}

ul.bullet {
  margin-bottom: 120px;
}

.tech-icon {
  display: inline-block;
  width: auto;
  height: 50px;
  margin-right: 20px;
}*/

.section-about a:link,
.section-about a:visited {
  color: var(--light-theme);
  border: none;
}

.section-about a:hover,
.section-about a:active {
  text-decoration: underline;
}

/*.section-about h3 a:last-child {
  color: #fff;
}

.section-about h3 a:last-child:hover,
.section-about h3 a:last-child:active {
  color: #fff;
}*/

/* ----------------------------------------------------------- */
/* Skills */
/* ----------------------------------------------------------- */

.section-skill {
  background-color: #fff;
}

.section-skill h2:after {
  background-color: var(--theme-3);
}

.section-skill .techChart {
  display: inline-block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.section-skill .charts {
  min-width: 400px;
  width: 50%;
  margin: 0 auto;

  -webkit-justify-content: space-around;
  justify-content: space-around;

/*  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;*/
  display: flex;
}

.section-skill h3 {
  width: 100%;
  text-align: center;
  margin: 30px auto;
  font-weight: 500;
}

/*.tech-lists {
  display: flex;
  justify-content: center;
}*/

ul.tech-list {
  min-width: 500px;
  width: 50%;
  margin: 0 auto;

  /*width: 100%;*/
  display: flex;
  -webkit-justify-content: space-around;
  justify-content: space-around;
}

.tech-list .tech-icon {
  height: 40px;
  width: auto;
  margin: 10px 8px;
  transition: height 0.2s, padding-top 0.2s;
}

.tech-item {
  height: 60px;
  width: auto;
}

.tech-item .label {
  position: relative;
  top: -50px;
  left: 8px;
  visibility: hidden;

  width: auto;
  height: 40px;

  padding: auto 0;
}

.tech-item:hover .label {
  visibility: visible;
  background-color: rgba(255, 255, 255, 0.7);
  /*background-color: red;*/
}

/* ----------------------------------------------------------- */
/* Works */
/* ----------------------------------------------------------- */

.section-work {
  background-color: #fff;
}

/* ----------------------------------------------------------- */
/* Contact */
/* ----------------------------------------------------------- */

.section-contact {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 20;
}

.contact-form {
  position: relative;
  background-color: #fff;
  width: 60%;
  height: 50%;
  margin: 25vh auto;
}

input[type=text],
input[type=email],
select,
textarea {
  width: 100%;
  padding: 7px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

textarea {
  height: 100px;
}

input[type=checkbox] {
  margin: 10px 5px 10px 0;
}

*:focus {
  outline: none;
}

/* ----------------------------------------------------------- */
/* Footer */
/* ----------------------------------------------------------- */

footer {
  background-color: var(--footer-color);
  color: white;
  /*padding: 25px;*/
  font-size: 80%;
  height: 70px;
}

.social-links {
  margin-top: 14px;
  list-style: none;
  float: right;
}

footer .social-links {
  margin-left: auto;
}

.footer-nav li,
.social-links li {
  display: inline-block;
  margin-right: 20px;
}

.social-links li a:link,
.social-links li a:visited {
  text-decoration: none;
  border: 0;
  color: var(--footer-text);
  transition: color 0.2s;
}

footer span {
  margin-top: 20px;
  margin-left: 20px;
  color: var(--footer-text);
  text-align: center;
  font-size: 90%;
}

/* ----------------------------------------------------------- */
/* Animations */
/* ----------------------------------------------------------- */

.js--wp-1,
.js--wp-2,
.js--wp-3 {
  opacity: 0;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.js--wp-4 {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.js--wp-1.animated,
.js--wp-2.animated,
.js--wp-3.animated {
  opacity: 1;
}
