/* ----------------------------------------------------------- */
/* Colors */
/* ----------------------------------------------------------- */

:root {
  --main-theme: /*#E67E22; */#0d2c5a;
  --light-theme: #5b9bbc;
  --darker-light-theme: #5490af;
  --background: #eee;
  --theme-2: #f08b65;
  --theme-3: #e76270;
  --theme-4: #ccc;

  --blue: #228ae6;
  --font-color: #555;
  --footer-color: #878481;
  --footer-text: #e0e0e0;
  --description-grey: #b2b2b2;
  --border-grey: #efefef;
}

/* ----------------------------------------------------------- */
/* Basic Setup */
/* ----------------------------------------------------------- */

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:focus {
  outline: none;
}

::-webkit-scrollbar {
    display: none;
}

html,
body {
  background-color: #fff;
  color: var(--font-color);
  font-family: 'Lato', 'Arial', sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
  position: relative;
}

.container {
  margin: 0;
  padding: 0;
  width: 100vw;
}

.content {
  /*margin-top: 77px;*/
}

.clearfix {zoom: 1;}
.clearfix:after {
  content: '.';
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

div.react-d3-core__legend.legend {
  display: none;
}

/* ----------------------------------------------------------- */
/* Reusable Components */
/* ----------------------------------------------------------- */

.row {
  max-width: 1140px;
  margin: 0 auto;
}

section {
  padding: 120px 0;
}

.box {
  padding: 1%;
  overflow: hidden;
}

ul {
  list-style-type: none;
}

/* ----- Headings ----- */

h1,
h2,
h3 {
  font-weight: 300;
  letter-spacing: 1px;
}

h1 {
  font-weight: 800;
  margin-top: 0;
  margin-bottom: 20px;
  color: #fff;
  font-size: 300%;
  word-spacing: 3px;
}

h2 {
  text-transform: uppercase;
  font-size: 180%;
  word-spacing: 3px;
  text-align: center;
  margin-bottom: 30px;
  width: 100%;
}

h3 {
  text-transform: uppercase;
  font-size: 110%;
  margin-top: 15px;
  margin-bottom: 15px;
}

h2:after {
  display: block;
  height: 2px;
  content: " ";
  width: 250px;
  margin: 0 auto;
  margin-top: 30px;
}

/* ----- Paragraphs ----- */

.long-copy,
.brief-description {
  line-height: 145%;
  width: 70%;
  margin-left: 15%;
  text-align: center;
}

.box p {
  font-size: 90%;
  line-height: 145%;
}

/* ----- Icon ----- */

.icon-big {
  font-size: 300%;
  display: block;
  margin-bottom: 10px;
}

.icon-small {
  display: inline-block;
  width: 30px;
  text-align: center;
  color: var(--main-theme);
  font-size: 120%;
  margin-right: 10px;

  margin-top: -5px;
  line-height: 120%;
  vertical-align: middle;
}

/* ----------------------------------------------------------- */
/* Nav */
/* ----------------------------------------------------------- */

.logo {
  height: 66px;
  width: 66px;
  border-radius: 33px;
  float: left;
  margin: 5px 10px;

  display: none;
}

/* Main Nav */

nav {
  margin-bottom: -76px;
  height: 76px;
}

.main-nav {
  list-style: none;
  margin: 16px auto;
  background-color: transparent;
  z-index: 10;

  text-align: center;
  width: 100%;
}

.main-nav li {
  display: inline-block;
  margin-left: 25px;

  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: var(--light-theme);

  text-transform: uppercase;
  font-size: 90%;
  font-weight: 400;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
  padding: 8px 0;
}

.main-nav li:first-child {
  margin-left: 0;
}

.main-nav li:hover {
  cursor: pointer;
  color: #fff;
}

/* Mobile Nav */

.mobile-nav-icon {
  float: right;
  margin-top: 10px;
  cursor: pointer;
  display: none;
  z-index: 10;
}

.mobile-nav-icon i {
  font-size: 200%;
  color: #fff;
}

/* Sticky Nav */

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--main-theme);
  z-index: 10;
}

.sticky .main-nav {
  width: auto;
}

.sticky .logo,
.sticky .social-links {
  display: inline-block;
}

/* Social Links */

nav .social-links {
  margin-right: 10px;
  margin-left: 10px;

  display: none;
}

.social-links li a:link,
.social-links li a:visited {
  font-size: 140%;
}

.ion-social-linkedin,
.ion-social-github,
.ion-social-googleplus,
.ion-social-instagram,
.ion-close-circled {
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

.ion-social-linkedin:hover {
  color: #0077B5;
}

.ion-social-github:hover {
  color: #24292e;
}

.ion-social-facebook:hover {
  color: #3a589e;
}

.ion-social-instagram:hover {
  color: #fb3958;
}

.ion-email:hover {
  color: var(--light-theme);
}

/* -----------------------------------------------------------* /
/* Header */
/* ----------------------------------------------------------- */

header {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(13, 44, 90, 0.7)), to(rgba(13, 44, 90, 0.7))), url('../Assets/img/header-background-2.jpg');
  background-image: linear-gradient(rgba(13, 44, 90, 0.7), rgba(13, 44, 90, 0.7)), url('../Assets/img/header-background.jpg');
  background-size: cover;
  min-height: 350px;
  height: 100vh;
  background-attachment: fixed;
  position: relative;
}

.hero-text-box {
  width: 100%;
  text-align: center;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.hero-text-box h1:after {
  display: block;
  height: 2.5px;
  background-color: var(--light-theme);
  content: " ";
  width: 180px;
  margin: 20px auto;
}

.hero-text-box h4 {
  color: #fff;
}

/* -----------------------------------------------------------* /
/* About */
/* ----------------------------------------------------------- */

.section-about {
  background-color: #fff;
}

.section-about .icon-big {
  color: var(--light-theme);
}

.section-about h2:after {
  background-color: var(--light-theme);
}

.section-about a:link,
.section-about a:visited,
i.message {
  font-style: normal;
  color: var(--light-theme);
  border: none;
}

.section-about a:hover,
.section-about a:active,
i.message:hover {
  cursor: pointer;
  text-decoration: underline;
}

/* ----------------------------------------------------------- */
/* Skills */
/* ----------------------------------------------------------- */

.section-skill {
  background-color: var(--background);
}

.section-skill h2:after {
  background-color: var(--theme-3);
}

.section-skill .techChart {
  display: inline-block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.section-skill .techChart p {
  margin-top: 10px;
}

.section-skill .charts {
  min-width: 350px;
  width: 50%;
  margin: 0 auto;
  -ms-flex-pack: distribute;
  justify-content: space-around;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-skill h3 {
  width: 100%;
  text-align: center;
  margin: 30px auto;
  font-weight: 500;
}

div.tech-list {
  width: 85%;
  margin: 0 auto;
}

.tech-list div {
  display: inline-block;
}

.tech-list .tech-icon {
  display: inline-block;
  height: 40px;
  width: auto;
  margin: 10px 8px;
}


.donutchart-track{
  fill: transparent;
  stroke: #fff;
}
.donutchart-indicator {
  fill: transparent;
  stroke: var(--theme-3);
  stroke-dasharray: 0 10000;
  -webkit-transition: stroke-dasharray .8s ease;
  transition: stroke-dasharray .8s ease;
}

.donutchart {
  margin: 0 auto;
  border-radius: 50%;
  display: block;
}

/* ----------------------------------------------------------- */
/* Works */
/* ----------------------------------------------------------- */

.section-work {
  background-color: var(--background);
}

.section-work h2:after {
  background-color: var(--theme-2);
}

.work-display {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.workCard {
  width: 350px;
  background-color: #fff;
  margin: 20px auto;
  padding: 3px;
}

img.work-small-view {
  display: block;
  margin-left: auto;
  margin-right: auto;

  max-width: 344px;
  max-height: 250px;
}

img.work-small-view:hover {
  cursor: pointer;
}

.workCard .text {
  padding: 2%;
  margin-bottom: 0px;
}

.icon-link {
  margin-left: 5px;
  color: var(--background);
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
  font-size: 150%;
}

.icon-link:hover {
  color: var(--theme-2);
}

/* ----------------------------------------------------------- */
/* Contact */
/* ----------------------------------------------------------- */

.section-contact {
  padding: 50px 60px;
  background-color: #fff;
  border-radius: 5px;
}

.section-contact h2:after {
  background-color: var(--light-theme);
}

.section-contact .ion-close-circled {
  display: block;
  width: 100%;
  margin-left: 95%;
}

.section-contact form {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.section-contact ul.social-links {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.section-contact .ion-close-circled {
  color: var(--light-theme);
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

.section-contact .ion-close-circled:hover {
  cursor: pointer;
  color: var(--darker-light-theme);
}

textarea {
  height: 100px;
}

.form-control:focus {
  border-color: var(--light-theme);
}

.btn-success {
  color: #fff;
  background-color: var(--light-theme);
  border: none;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

.btn-success:hover,
.btn-success:active,
.btn-success:focus {
  cursor: pointer;
  background-color: var(--darker-light-theme);
  -webkit-box-shadow: none;
  box-shadow: none;

}

.contact-complete-message {
  width: 100%;
  text-align: center;
}

.contact-complete-message i {
  font-size: 500%;
  color: var(--light-theme);
}


/* ----------------------------------------------------------- */
/* Overlay */
/* ----------------------------------------------------------- */

#overlay {
  position: absolute;
  left:0;
  right:0;
  top:0;
  bottom:0;

  background-color: rgba(0, 0, 0, 0.85);
  z-index: 20;
}

#popup-window {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
}

.display {
  height: 100%;
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;


  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.display section,
.display .img-display {
  display: block;
}

.display section {
  margin: 0 auto;
  height: 80%;
  min-height: 580px;
  width: 60%;

  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.display .img-display {
  margin: 5% auto;
  height: 70%;
  width: 80%;
}

/* ----------------------------------------------------------- */
/* Image Display */
/* ----------------------------------------------------------- */

.img-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;

  height: 100%;
  width: 100%;
}

.arrow {
  width: 17px;
  height: 100%;
  display: inline-block;
}

img.work-large-view {
  display: block;
  margin-left: auto;
  margin-right: auto;

  max-height: 100%;
  max-width: 100%;
}

img.work-large-view:hover {
  cursor: pointer;
}

.arrow i {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.img-display i {
  font-size: 150%;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

.img-display i:hover {
  cursor: pointer;
  color: #fff;
}

.img-display .ion-close-circled {
  position: absolute;
  right: 10%;
}

.img-label {
  width: 100%;
  text-align: center;
  color: #fff;
}

/* ----------------------------------------------------------- */
/* Footer */
/* ----------------------------------------------------------- */

footer {
  background-color: var(--footer-color);
  color: white;
  font-size: 80%;
  height: 70px;
}

.social-links {
  margin-top: 14px;
  list-style: none;
  float: right;

}

footer .social-links {
  margin-left: auto;
}

.footer-nav li,
.social-links li {
  display: inline-block;
  margin-right: 20px;
}

.social-links li a:link,
.social-links li a:visited {
  text-decoration: none;
  border: 0;
  color: var(--footer-text);
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

footer span {
  margin-top: 20px;
  margin-left: 20px;
  color: var(--footer-text);
  text-align: center;
  font-size: 90%;
}

/* ----------------------------------------------------------- */
/* Processing */
/* ----------------------------------------------------------- */

.processing-block {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;

  background-color: rgba(255, 255, 255, 0.5);
  z-index: 30;
}

.processing-block .icon-processing {
  width: 50px;
  height: auto;
  display: block;
  margin: auto;

  position: relative;
  top: 50%;
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);

  -webkit-transform-origin: center;

          transform-origin: center;
  -webkit-animation: spinning 1s infinite;
          animation: spinning 1s infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;

  font-size: 200%;
  text-align: center;
}

.ion-load-c {
  display: block;
  color: var(--light-theme);
}

/* ----------------------------------------------------------- */
/* Animations */
/* ----------------------------------------------------------- */

@-webkit-keyframes spinning {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spinning {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}


.js--wp-1,
.js--wp-2,
.js--wp-3 {
  opacity: 0;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.js--wp-4 {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.js--wp-1.animated,
.js--wp-2.animated,
.js--wp-3.animated {
  opacity: 1;
}
